<div class="space-y-10">
  <div class="container mx-auto my-10 max-w-5xl bg-white shadow-lg rounded-lg p-6">
    <h1 class="text-2xl font-bold text-gray-800 mb-6">Создание предмета</h1>
    <form #subjectForm="ngForm" (ngSubmit)="onAddSubject()" novalidate>
      <div class="grid grid-cols-2 gap-6">
        <div>
          <label class="block text-gray-700">Название</label>
          <input type="text" [(ngModel)]="newSubject.name" name="firstname" class="w-full p-2 border rounded" required placeholder="Имя" />
        </div>
        <div>
          <label class="block text-gray-700">Код</label>
          <input type="text" [(ngModel)]="newSubject.subject_code" name="lastname" class="w-full p-2 border rounded" required placeholder="Фамилия" />
        </div>
        <div>
          <label class="block text-gray-700">Кредиты</label>
          <input type="number" [(ngModel)]="newSubject.credits" name="iin" class="w-full p-2 border rounded" min="12" required placeholder="ИИН" />
        </div>
      </div>
      <div class="mt-6 flex justify-end space-x-4">
        <button type="submit" class="px-4 py-2 text-white bg-green-500 rounded hover:bg-green-600" [disabled]="subjectForm.invalid" >Сохранить</button>
      </div>
    </form>
  </div>
</div>
