<h1>Hello World!</h1>

<app-slide-bar></app-slide-bar>

<app-student-page></app-student-page>
<!--<div style="margin: 100px"></div>-->
<app-subject-page></app-subject-page>
<app-group-page></app-group-page>
<app-in-group-page></app-in-group-page>
<app-select-group-page></app-select-group-page>
<app-select-subject-page></app-select-subject-page>
<app-student-card-page></app-student-card-page>
<app-subject-card-page></app-subject-card-page>
<app-group-card-page></app-group-card-page>
<app-add-students-in-group-page></app-add-students-in-group-page>
<app-add-student-page></app-add-student-page>

