<div class="space-y-10">
  <div class="container mx-auto my-10 max-w-5xl bg-white shadow-lg rounded-lg">
    <div class="flex items-center justify-between px-6 py-4 border-b">
      <h1 class="text-2xl font-bold text-gray-800">Группы</h1>
      <button (click)="onAddGroup()" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">
        + Добавить группу
      </button>
    </div>

    <div class="overflow-x-auto">
      <table class="w-full border-collapse">
        <thead>
        <tr class="bg-gray-100 text-left">
          <th class="px-6 py-3 text-sm font-medium text-gray-600">Название</th>
          <th class="px-6 py-3 text-sm font-medium text-gray-600">Дата создания</th>
          <th class="px-6 py-3 text-sm font-medium text-gray-600">Действия</th>
        </tr>
        </thead>
        <tbody>
        <!-- Row 1 -->
          @for (groupList of groupsList; track groupList.edu_group_id) {
            <tr class="border-t">
              <td class="px-6 py-4 text-gray-700">{{ groupList.name }}</td>
              <td class="px-6 py-4 text-gray-700">{{ groupList.created }}</td>
              <td class="px-6 py-4 space-x-2">
                <button (click)="onEntryGroupStudents(groupList.edu_group_id)" class="px-4 py-2 text-sm text-white bg-blue-500 rounded hover:bg-blue-600">
                  Студенты
                </button>
                <button (click)="onEntryGroupSubjects(groupList.edu_group_id)" class="px-4 py-2 text-sm text-white bg-blue-500 rounded hover:bg-blue-600">
                  Дисциплины
                </button>
                <button (click)="onDeleteGroup(groupList.edu_group_id)" class="px-4 py-2 text-sm text-white bg-red-500 rounded hover:bg-red-600">
                  Удалить
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
